<p id="notice"><%= notice %></p>

<h1 style="color: tan"> silas's vendors</h1>
<h2>hi how are you? what's your name?</h2>
<p style="color:blue">all flesh is like the grass and <strong>all glory</strong> is<hr> like the flowers but the word of the lord endures forever.</p>
<hr>
<div>there are<em> alot of venders here.</em></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Email</th>
      <th>Description</th>
      <th>Website</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
        <td><%= vendor.phone %></td>
        <td><%= vendor.address %></td>
        <td><%= vendor.email %></td>
        <td><%= vendor.description %></td>
        <td><%= vendor.website %></td>
        <td><%= vendor.content %></td>
        <td><%= link_to 'Show', vendor %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor', new_vendor_path %>
